
body {
  font-family: "Georgia", serif;
  background: linear-gradient(to bottom, #fff8e7, #f0e4d7);
  margin: 0;
  padding: 0;
  color: #3a2f2f;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  background-color: #8b5e3c;
  color: #fff8e7;
  padding: 20px;
  text-align: center;
  border-bottom: 5px solid #d4a373;
}
.layout {
  display: flex;
  flex: 1;
}

aside {
  width: 150px;
  background-color: #d4a373;
  padding: 15px;
}
aside h3 {
  margin-top: 0;
  color: #3a2f2f;
}
aside nav a {
  display: block;
  margin: 10px 0;
  color: #3a2f2f;
  text-decoration: none;
  font-weight: bold;
}
aside nav a:hover {
  background-color: #8b5e3c;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
main {
  flex: 1;
  padding: 20px;
  background: #fff8e7;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 25px;
}
table, th, td {
  border: 1px solid #8b5e3c;
}
th {
  background-color: #d4a373;
  color: #fff;
  padding: 10px;
}
td {
  padding: 8px;
  text-align: center;
}
button {
  background-color: #8b5e3c;
  color: #fff8e7;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Georgia", serif;
}
button:hover {
  background-color: #d4a373;
  color: #fff;
}
footer {
  background-color: #8b5e3c;
  color: #fff8e7;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  margin-top: auto;
}
